html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 384px;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: blue;
}

.myPawsText {
    font-size: 10px;
    position: relative;
    bottom: 9px;
}

.navigateText {
    font-size: 10px;
    position: relative;
    bottom: 16px;
}
.outlookText {
    font-size: 10px;
    position: relative;
    bottom: 12px;
}
.icollegeText {
    font-size: 10px;
    position: relative;
    bottom: 24px;
    left: 7px;
}

.icollegeImg {
    width: 65px;
    position: relative;
    right: 12px;
    bottom: 10px;
}

a:link,
a:visited {
    color: black;
    outline: 0;
    text-decoration: none;
}

img {
    width: 45px;
}
.modal-content {
    padding: 0 22px;
}
.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
}

.modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 16px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #444;
    font-size: 18px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.5;
    color: blue;
}

.flex .fa {
    font-size: 40px;
    color: #2f5876;
}
